* {
    box-sizing: border-box;
}

@-webkit-keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

.ticker_wrap {
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    height: 1rem;
    background-color: rgba(255, 255, 255, 0.333);
    padding-left: 100%;
    box-sizing: content-box;
}

.ticker_wrap .ticker {
    display: flex;
    align-items: center;
    align-content: space-between;
    justify-items: baseline;
    height: 1rem;
    line-height: 1rem;
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: 30s;
    animation-duration: 30s;
}

.ticker_wrap .ticker__item {
    display: inline-block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    padding: 0 2rem;
    font-size: 14px;
    color: rgb(9, 165, 249);
}

.span {
    font-weight: bold;
    font-size: 14px;
    color: rgb(239, 189, 9);
}