.Social_footer_item {
    height: 44px;
    width: 44px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Social_footer_item:not(:last-child) {
    margin-right: 10px;
}

.Social_footer_item {
    background-color: rgba(255, 255, 255);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.Social_footer_item:hover,
.social_footer_item:focus-within {
    background-color: #2196f3;
}

.Footer_icon {
    fill: #fff;
    display: block;
}