.title {
    text-align: center;
    font-weight: bold;
}

.text {
    text-align: center;
}

.img {
    min-width: 300px;
    max-height: 100%;
    align-content: center;
    padding-bottom: 10px;
}

.img_box {
    position: relative;
}

/* .title_box {
    position: absolute;
} */