.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-flow: column;
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
    font-style: normal;
    background-color: rgb(204, 208, 208);
}


.section {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: beige;
}

App {
    text-align: center;
    height: 5000px;
  }